@import 'normalize.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #222;
  color: #fff;
}

header {
  padding: 20px 30px;
  background-color: black;
  color: #fff;
  border: 2px solid;
  border-color: rgba(79, 79, 169, 0.112);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
text-decoration: underline;
color: chartreuse;
}

.container {
  padding: 50px;
}

.post {
  max-width: 600px;
  padding: 24px;
  background-color: rgba(48, 199, 199, 0.537);
  margin-top: 30px;
  
}

.post h2 {
  margin-bottom: 16px;
}

.post p {
  margin-bottom: 20px;
}

.post a:hover {
text-decoration: underline;
}